<div>
    <h2 id="page-heading">
        <span jhiTranslate="bookstoreApp.zonal.home.title">Zonals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zonal" [routerLink]="['/zonal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bookstoreApp.zonal.home.createLabel">
            Create new Zonal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zonals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bookstoreApp.zonal.name">Name</span></th>
            <th><span jhiTranslate="bookstoreApp.zonal.date">Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zonal of zonals ;trackBy: trackId">
                <td><a [routerLink]="['/zonal', zonal.id, 'view' ]">{{zonal.id}}</a></td>
                <td>{{zonal.name}}</td>
                <td>{{zonal.date | date:'medium'}}</td>
                <td class="text-right">
                    <div>
                        <button type="submit"
                                [routerLink]="['/zonal', zonal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/zonal', zonal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zonal/'+ zonal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
